body{
  background-color: rgb(0, 0, 0);
  margin-left: 5vw;
  margin-right: 5vw;
}

.navbar img{
  width: 50%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.shadowfilter:hover {
  -webkit-filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5));
   filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.998));
   transition: all 0.5s ease-in-out;
}

.nav li a {
  text-decoration: none;
  color: white;
}

.nav li a:hover{
  text-decoration: none;
  color: rgb(160, 160, 160);
}

.home{
  margin-left: 7vw;
  margin-right: 7vw;
}



