body{
  background-color: rgb(0, 0, 0);
  /* margin-left: 5vw;
  margin-right: 5vw; */
  height: 100vh;
  border: 2px solid #FFFF;
}


.navbar img{
  width: 80%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.shadowfilter:hover {
  -webkit-filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5));
   filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.998));
   transition: all 1s ease-in-out;
}

.nav li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}

.nav li a:hover{
  text-decoration: none;
  color: rgb(160, 160, 160);
}

.home{
  margin-left: 7vw;
  margin-right: 7vw;
}

h1, h2, h3{
  color: #FFFF;
}


/* media */

@media only screen and (max-width: 767px){
  .nav{

  }
}